version: "3.8"
services:
  # server:
  #   build: 
  #     context: ./server
  #     dockerfile: Dockerfile
  #   container_name: server_c
  #   ports:
  #     - '3333:3333'
  #   volumes:
  #     - ./server:/app
  #     - ./server/node_modules
  client:
    build: 
      context: ./client
      dockerfile: Dockerfile
    image: viktors11/client
    container_name: client_c
    ports:
      - '3000:3000'
    volumes:
      - ./client:/app
      - ./client/node_modules
    stdin_open: true
    tty: true